<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="container text-center">
        <form action="/signup" method="POST">
          Username<br>
          <input type="text" name="Username" size="75" value="">
          <br>
          Password<br>
          <input type="password" name="Password" size="75" value="">
          <br><br>
          <input type="submit" class="btn btn-primary" value="Sign up">
        </form> 
        <% if(Error== "function Error() { [native code] }") { %>
          <%}else{ %>
            <h5 style="color: red; font-weight: bold; font-size: 20px;"> <%= Error %> </h5>
          <% } %>
</div>